<h1>Products</h1>

<table id="table"></table>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_ImageUploadScriptsPartial")

    <script>
        $(document).ready(function () {
            $('#table').ogBsTable({
                columns: [{
                    field: 'id',
                    title: 'Id',
                }, {
                    field: 'imageUrl',
                    title: 'Image',
                    formatter: function (value) {
                        return value ? `<img src="${value}" class="img-fluid" style="width: 80px; height: 80px; object-fit: cover; object-position: center;">` : '';
                    }
                }, {
                    field: 'title',
                    title: 'Title',
                }, {
                    field: 'subtitle',
                    title: 'Subtitle',
                }, {
                    field: 'price',
                    title: 'Price',
                }]
            }, {
                create: '/Admin/Products/Create',
                read: '/Admin/Products/List',
                update: '/Admin/Products/Edit',
                delete: '/Admin/Products/Delete',
                sortableFields: 'id,imageUrl,title,subtitle,price',
                idField: 'id',
                onPopupContentLoaded: function (ogBsTable, popup, action) {
                    if (action === 'create' || action === 'update') {
                        $(popup.element.find('#upload')).initImageUpload();
                    }
                }
            });
        });
    </script>
}