<div class="d-flex align-items-center justify-content-between mb-3">
    <h1>Categories</h1>
    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Add Category</a>
</div>

<table id="grid"></table>

@section Scripts
{
    <script>
        
    </script>
}